UCF/CEN3024/src/week12/reference/login-response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="login-response">
		<xs:complexType>
			<xs:attribute name="version" type="xs:decimal" use="required"/>
			<xs:attribute name="logged-in" type="xs:boolean" use="required"/>
			<xs:attribute name="session-id" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
